<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contactos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de Contactos</h1>
        <a href="{{ url_for('agenda.create') }}">Agregar Nuevo Contacto</a>
        <table border="5">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Número de Teléfono</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for contacto in contactos %}
                <tr>
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.telefono }}</td>
                    <td>{{ contacto.email }}</td>
                    <td>
                        <a href="{{ url_for('agenda.edit', contacto_id=contacto.id) }}">Editar</a>
                        <a href="{{ url_for('agenda.detail', contacto_id=contacto.id) }}">Detalles</a>
                        <a href="{{ url_for('agenda.delete', contacto_id=contacto.id) }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}">Volver a la Página de Bienvenida</a>
    </div>
</body>
</html>