{% extends "base.html" %}

{% block content %}
        <h2>Seleccione los datos a mostrar</h2>
        <form method="POST" action="{{ url_for('analisis.bar') }}">
            <label for="data_type">Tipo de datos:</label>
            <select name="data_type" id="data_type">
                <option value="num_def">Defunciones</option>
                <option value="new_cases">Casos</option>
                <option value="num_hosp">Hospitalizados</option>
                <option value="num_uci">UCI</option>
            </select>
            <button type="submit" name="top10">
                Mostrar TOP 10
            </button>
            <button type="submit">Mostrar todos</button>
        </form>

        {% if chart_data %}
            <h2>{{ chart_title }}</h2>
            <div>
                <img src="{{ chart_data }}" alt="Gráfica de distribución por provincia y día de la semana">
            </div>
        {% endif %}
{% endblock %}