<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisis de Datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido al Proyecto de Análisis de Datos</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('agenda.index') }}">Agenda</a></li>
                <li><a href="{{ url_for('usuarios.index') }}">Usuarios</a></li>
                <li><a href="{{ url_for('analisis.index') }}">Análisis</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Seleccione una opción de análisis</h2>
        <ul>
            <li><a href="{{ url_for('analisis.bar_chart') }}">Gráfica de Barras</a></li>
            <li><a href="{{ url_for('analisis.pie_chart') }}">Gráfica Circular</a></li>
        </ul>
    </main>
    <footer>
        <p>&copy;  2025 Darío Zoreda</p>
    </footer>
</body>
</html>