<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% if title %}
    <title>{{ title }} - Proyecto Final</title>
    {% else %}
    <title>Inicio - Proyecto Final</title>
    {% endif %}
</head>
<body>
    <header>
        <h1><a href="{{ url_for('inicio') }}"> Proyecto Final </a></h1>
        <nav>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('usuarios.login') }}"><b>Acceder</b></a>
            {% else %}
            <a href="{{ url_for('usuarios.logout') }}"><b>Cerrar sesión</b></a>
            {% endif %}

            <a href="{{ url_for('agenda.index') }}">Agenda</a>
            {% if current_user.id == 1 %}
            <a href="{{ url_for('usuarios.index') }}">Usuarios</a>
            {% endif %}
            <a href="{{ url_for('analisis.index') }}">Análisis</a>
        </nav>
    </header>
    
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}   

        {% block content %}
        {% endblock %}
    {% if current_user.is_authenticated %}
    <p><em>Estás conectado como {{ current_user.nombre }}</em></p>
    {% endif %}
    </main>

    <footer>
        <p>&copy; 2025 Darío Zoreda</p>
    </footer>
</body>
</html>