{% extends "base.html" %}
{% block content %}
    <h1 id="inicio">Proyecto final del curso de python con Deusto</h1>
        <div class="bloque_contenido">
        <h2 id="building_construction-estructura-del-proyecto">🏗️ Estructura del proyecto</h2>
        App en Flask para contener y mostrar el proyecto:
            <ul>
                <li><a href="#página-de-bienvenida">Página de bienvenida</a></li>
                <li><a href="#proyecto-agenda">Proyecto agenda</a></li>
                <li><a href="#proyecto-usuarios">Proyecto usuarios</a></li>
                <li><a href="#proyecto-análisis">Proyecto análisis</a></li>
            </ul>
        </div>
        <div id="resumen">
        <h2>🗒️ Resumen y abstract</h2>
        <p>En esta sección, explicaré mis razones para hacer el proyecto así y resumiré mi proceso.</p>
        <div class="bloque_contenido">
            <h3>Abstract</h3>
            <p>Durante mi curso de python en Deusto, se me propusieron 3 opciones sencillas, pero he decidido hacer una mezcla de las 3, ya que será más interesante.</p>
            <p>
                Yo he orientado mi crecimiento profesional hacia el análisis de datos, la ciencia de datos y el <em>machine learning.</em> 
                Pero recientemente, en parte durante el curso y en parte por mi cuenta, he descubierto lo interesante y divertido que es crear aplicaciones con una lógica 
                compleja que otorguen soluciones de manera sencilla: esto es, programas con interfaz de usuario.
            </p>
            <p>
                Python es un lenguaje maravilloso que además tiene mucho desarrollo detrás, y existen muchísimos módulos distintos para hacer miles de tareas distintas con facilidad. 
                Sin embargo, a nivel de interfaz de usuario, muchas veces deja que desear o requiere mucho trabajo. 
                Por eso me he interesado en aprender Flask y desarrollar una aplicación compleja, y que desarrolle tareas medianamente complicadas en el backend. 
            </p>
            <p>
                Quiero, el día de mañana, si lo necesito, poder desarrollar una aplicación que no sólo sea backend, sino que tenga un frontend decente como mínimo. 
                He jugado con PyQt5 y tengo pendiente continuar, aunque es bastante complejo, pero con ese módulo sí que podría crear aplicaciones que luego pueda convertir en un .exe y vender o regalar.
                De todas formas, todo el trabajo de conexión, construcción y cohesión de la web me ha enseñado mucho.
            </p>
            <h3>Resumen del proceso</h3>
            <p><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">tutorial de Flask</a></p>
            <p><a href="#inicio">⬆️</a></p>
        </div>
        </div>

        <div id="desglose">
        <h2>🗃️ Desglose</h2>
        <p>Veamos en qué consiste cada parte.</p>
        <div class="bloque_contenido" id="bienvenida">
            <h3 id="wave-página-de-bienvenida">👋 Página de bienvenida</h3>
                <p>Será una página en Flask con los siguientes atributos:</p>
                    <ul>
                    <li>Estructura del proyecto</li>
                    <li>Abstract y resumen</li>
                    <li>Desglose de los 3 proyectos</li>
                    </ul>
                <p><a href="#inicio">⬆️</a></p>
        </div>
        <div class="bloque_contenido">
            <h3 id="proyecto-agenda">📇 Proyecto agenda</h3>
                <p>Se trata de un gestor de contactos con la capacidad de realizar las operaciones CRUD sobre al menos 3 atributos: nombre, Nº de teléfono y email.
                <br><strong>Restricciones y contenido</strong>:  </p>
                <ul>
                    <li>Funciones:
                        <ul>
                        <li>🛡️Agregar contacto</li>
                        <li>🛡️Buscar un contacto</li>
                        <li>🛡️Editar contacto</li>
                        <li>🛡️Eliminar contacto</li>
                        <li>🛡️Mostrar todos</li>
                        </ul>
                    <li>Control de inputs: 
                        <ul>
                        <li>RegEx (nombre: letras, tlf: 9 dígitos, email: <code>x@x.x</code>)</li>
                        <li>Herramientas integradas de Flask.</li>
                        </ul></li>
                </ul>

                <p><strong>Observaciones</strong>:</p>
                    <ul>
                        <li>Pedir login. Mostrar a cada usuario su propia agenda.</li>
                        <li>Buscar contacto: formulario que redirige a una página que muestra los resultados.</li>
                        <li>Mostrar todos: muestra los del usuario actual, o todos si es admin.</li>
                        <li>Almacenamiento: tabla en SQLite3.</li>
                    </ul>
                <p><a href="#inicio">⬆️</a></p>
            </div>
            <div class="bloque_contenido">
            <h3 id="proyecto-usuarios">🧑‍🦲 Proyecto usuarios</h3>
                <p>Se trata de un panel de administración de usuarios. 
                <br><strong>Contenido</strong>:</p>
                    <ul>
                    <li>🚫Página de gestión de los usuarios:
                        <ul>
                            <li>🚫Página de tabla: 
                                <ul>
                                <li>Necesario estar logeado como admin.</li> 
                                <li>Mostrar todas las entradas en una tabla.</li>
                                <li>Muestra todo, incluido el ID, excepto la contraseña, que es secreta.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>🚫Página con formulario de edición: 
                        <ul>
                            <li>Necesario estar logeado como admin.</li>
                            <li>Requiere confirmar la contraseña del admin.</li>
                            <li>Permite reescribir todos los campos excepto la contraseña.</li>
                        </ul>
                    </li>
                    <li>Página con formulario de creación: 
                        <ul>
                            <li>Email: validado por wtforms.validators.Email</li>
                            <li>Nombre</li>
                            <li>Apellidos</li>
                            <li>Contraseña: codificada por werkzeug.security en forma de hash antes de guardarla.</li>
                            <li>Confirmar contraseña: debe coincidir con la contraseña.</li>
                            <li>Teléfono: número de 9 cifras</li>
                            <li>Edad: número entre 0 y 999</li>
                        </ul>
                    </li>
                    <li>🚫Página con formulario de borrado: 
                        <ul>
                            <li>Necesario estar logeado como admin.</li>
                            <li>Pide confirmación de borrado.</li>
                        </ul>
                    </li>
                    </ul>
                <p><strong>Observaciones</strong>:</p>
                    <ul>
                        <li>Árbol de páginas web interconectadas</li>
                        <li>Almacenamiento: tabla en SQLite.</li>
                        <li>Incluir botón de vuelta a la página de bienvenida del proyecto.  </li>
                        <li>Incluir botón de vuelta a la página de menú principal.</li>
                    </ul>
                <p><a href="#inicio">⬆️</a></p>
            </div>
            <div class="bloque_contenido">
            <h3 id="bar_chart-proyecto-análisis">📊 Proyecto análisis</h3>
                <p>Se trata de un dashboard de análisis de datos procedentes de un archivo csv proporcionado por la escuela.
                <br><strong>Contenido</strong>:</p>
                <ul>
                    <li>Página de bienvenida  
                        <ul>
                            <li>Enlaces de acceso a las otras dos páginas</li>
                        </ul>
                    </li>
                    <li>Página 1 con un menú que permita elegir defunciones, casos, hospitalizados o UCI y mostrarlo como una gráfica de barras en la página.</li>
                    <li>Página 2 con un menú que permita elegir defunciones, casos, hospitalizados o UCI y mostrarlo como una gráfica circular en la página.</li>
                </ul>
                <p><strong>Observaciones</strong>:</p>
                <ul>
                    <li>Almacenamiento: fichero .txt con formato interno JSON.</li>
                    <li>Agrupar datos por día de la semana y provincias.</li>
                    <li>Página 1: menú de botones con un cuadro debajo que muestre la gráfica correspondiente. Mostrar ocurrencias por día de la semana.</li>
                    <li>Página 2: menú de botones con un cuadro debajo que muestre la gráfica correspondiente. Mostrar gráfica circular con desglose por provincias.</li>
                </ul>
                <p><a href="#inicio">⬆️</a></p>
            </div>
            </div>
{% endblock %}