{% extends "base.html" %}
{% block content %}

    <div class="bloque_contenido">
        <h1>Buscar contacto</h1>
        <form method="POST" novalidate>
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}   
        <p>
            {{ form.nombre.label }}<br>
            {{ form.nombre(size=32) }}
            {% for error in form.nombre.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit }}</p>
    <a href="{{ url_for('agenda.index') }}">↩️ Volver a la agenda</a>
    </div>

{% endblock %}