{% extends "base.html" %}
{% block content %}
        <h1>Lista de Contactos</h1>
        <nav><a href="{{ url_for('agenda.crear') }}">Agregar Nuevo Contacto</a></nav>
    <div class="bloque_contenido">
        <table border="5">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Número de Teléfono</th>
                    <th>Email</th>
                    {% if user_id == 1 %}
                    <th>Propietario</th>
                    {% endif %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in contactos %}
                <tr>
                    <td>{{ c.nombre }}</td>
                    <td>{{ c.telefono }}</td>
                    <td>{{ c.email }}</td>
                    {% if user_id == 1 %}
                    <td>{{ c.user_id }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for('agenda.editar', contact_id=c.id) }}">Editar</a>
                        <a href="{{ url_for('agenda.detalle', contact_id=c.id) }}">Detalles</a>
                        <a href="{{ url_for('agenda.borrar', contact_id=c.id) }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}">↩️ Volver a la Página de Bienvenida</a>
    </div>
{% endblock %}