{% extends "base.html" %}
{% block content %}
        <h1>Lista de Contactos</h1>
        <nav>
            <a href="{{ url_for('agenda.crear') }}">Nuevo Contacto</a>
            <a href="{{ url_for('agenda.buscar') }}">Buscar Contacto</a>
        </nav>
    <div class="bloque_contenido">
        <table class="agenda">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Número de Teléfono</th>
                    <th>Email</th>
                    {% if user_id == 1 %}
                    <th>Propietario</th>
                    {% endif %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in contactos %}
                <tr>
                    <td>{{ c.nombre }}</td>
                    <td>{{ c.telefono }}</td>
                    <td>{{ c.email }}</td>
                    {% if user_id == 1 %}
                    <td>{{ user.query.get(c.user_id).email }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for('agenda.editar', contact_id=c.id) }}"><button>Editar</button></a><br>
                        <a href="{{ url_for('agenda.detalle', contact_id=c.id) }}"><button>Detalles</button></a><br>
                        <a href="{{ url_for('agenda.borrar', contact_id=c.id) }}"><button>Eliminar</button></a><br>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('agenda.index') }}">↩️ Volver a la agenda</a>
    </div>
{% endblock %}