    {% extends 'base.html' %}

    {% block content %}
    <h1>Detalles del Contacto</h1>
    <div class="bloque_contenido" id="desglose">
        <h2>Contacto de {{ user.nombre }}</h2>
        <p><strong>Nombre:</strong> {{ contact.nombre }}</p>
        <p><strong>Número de Teléfono:</strong> {{ contact.telefono }}</p>
        <p><strong>Email:</strong> {{ contact.email }}</p>
    <a href="{{ url_for('agenda.lista_contactos') }}">↩️ Volver a la lista de contactos</a>
    </div>
    {% endblock %}
