{% extends "base.html" %}
{% block content %}
<div class="bloque_contenido">
    <h1>Confirma que eres tú</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}   
        <p>
            {{ form.contraseña.label }}<br>
            {{ form.contraseña(size=32) }}
            {% for error in form.contraseña.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {{ form.submit }} {{ form.cancel }}
    </form>
</div>
{% endblock %}