{% extends "base.html" %}

{% block content %}
<div class="bloque_contenido">
    <h1>Acceso de miembros</h1>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.contraseña.label }}<br>
            {{ form.contraseña(size=32) }}
            {% for error in form.contraseña.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit }}</p>
    </form>
    <p>¿Nuevo usuario? <a href="{{ url_for('usuarios.create') }}"><b>Regístrate</b></a></p>
</div>
{% endblock %}
