<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Proyecto final de python</title>
        {% else %}
        <title>Bienvenido a mi proyecto final de python con Deusto</title>
        {% endif %}
    </head>
    <body>
        <div>Proyecto final: 
            <a href={{ url_for("index") }}>Inicio </a>
            <!-- Acceder/cerrar sesión debería ir al final del div, 
             introducir cualquier otra página antes del siguiente código: -->
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Acceder</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>